{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Kontakt</h2>
                <h4>Ing. Přemysl Dofek</h4>

                Blažovská 219<br>

                Prace<br>

                664 58<br>

                tel: <a href="tel:+420774609118">774 609 118</a>
            </div>
            <div class="col-lg-4">
                <iframe width="100%" height="450" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJl0Wi34rpEkcRzp-o_XiIanY&key=AIzaSyBtCcEeX2U8c9y11-JA_Ch22hTUupD65T0"
                        allowfullscreen></iframe>
            </div>
        </div>


        <hr>

        <footer>
            <p>&copy; Serviszvuk.cz 2016</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
