{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Ozvučení</h2>
                <p>Na koncertě je stejně důležitý zvuk na pódiu jako před pódiem. Jako muzikant
                to vnímám z obou stran. Nejcennějším vybavením zvukaře jsou totiž uši a cit.</p>
                <h4>Co umím ozvučit</h4>
                koncerty, firemní akce, festivaly, párty, konference aj. do velikosti náměstí.
                <h4>Vybavení</h4>
                <p>Martin Audio reproboxy, Lab Gruppen zesilovače, Soundcraft, Yamaha, Shure, Sennheiser, Klotz, Sommer Cable, a další…<br>
                LED světla, pódium Nivtec, střechy…</p>
            </div>
            <div class="col-lg-4">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive" src="/img/sidebar.png" alt="...">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/sidebar2.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/sidebar3.png" alt="...">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/img/sidebar4.jpg" alt="...">
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <hr>

        <footer>
            <p>&copy; Serviszvuk.cz 2016</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
