{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Reference</h2>
                <h4>Moji zákazníci:</h4>
                <p>Tom Jegr<br>

                Gwyn Ashton<br>

                Michal Pavlíček<br>

                Radek Pastrňák<br>

                František Munster<br>

                Audiotek<br>

                Zkušebny Brno<br>

                Distant Bells<br>

                Lidopop<br>

                Fides<br>

                Audioart<br>

                Mistříňanka<br>

                Semilasso<br>

                Aivn<br>

                Jirka Kučerovský<br>

                Vašek Martínek<br>

                Zdeněk Odehnal<br>

                Ctirad Šebesta<br>

                Honza Růžička<br>

                Jan Zrzavý<br>

                Japka<br>

                Lehká Noha<br>

                Saville Row<br>

                Lucka Vonásková<br>

                Vaňkovka Brno<br>

                Kulturní centrum Líšeň<br>

                Diecézní charita Brno<br></p><br>
                <p>a další, na které jsem zapomněl</p>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="/img/sidebar.png" alt="">
            </div>
        </div>


        <hr>

        <footer>
            <p>&copy; Serviszvuk.cz 2016</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
