{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Zakázková výroba</h2>
                co vyrábím:
                <ul>
                    <li>nástrojové kabely Sommer Cable LLX + Neutrik gold</li>
                    <li>mikrofonní kabely Sommer Cable + Neutrik XLR</li>
                    <li>výroba a úpravy vintage kyt. zesilovačů a efektů</li>
                    <li>true bypass lišty, A/B boxy</li>
                    <li>elektronkový preamp pro baskytaru / Fender piano (ala Alembic)</li>
                    <li>elektronkové zkreslení pro kytaru (ala Tube driver)</li>
                    <li>úpravy efektů na true bypass vypínání, indikace LED (wah aj.)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="/img/sidebar.png" alt="">
            </div>
        </div>


        <hr>

        <footer>
            <p>&copy; Serviszvuk.cz 2016</p>
        </footer>
    </div> <!-- /container -->
{% endblock %}
